.dashboardLayout {
    display: flex;
  }
  
  .mainContent {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20vw;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar.collapsed + .mainContent {
    margin-left: 5vw;
  }
  